{% extends '@AppBundle/base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card no-border">
                <div class="card-body">
                      <ul class="list-group list-group-flush card-full">
                        <li class="list-group-item"><b>Shop:</b> {{ paymentInfo.shop }}</li>
                        <li class="list-group-item"><b>Seller Bank:</b> {{ paymentInfo.bank }}</li>
                        <li class="list-group-item"><b>SUM:</b> <u>{{ paymentInfo.sum }} {{ paymentInfo.currency }}</u></li>
                        <li class="list-group-item"><small><b>IBAN:</b> {{ paymentInfo.iban }}</small></li>
                      </ul>
                </div>
            </div>

            <br /><br />

            <div class="input-group mb-3">
              <input type="text" placeholder="Share user data for a discount (optional)" class="form-control" aria-label="Email for a discount">
              <div class="input-group-append">
                <div class="input-group-text">
                  <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
              </div>
            </div>

            <br /><br />

            <div class="card no-border">
                <div class="card-body text-center">
                    <button class="btn btn-lg btn-success pay-button" data-sum="{{ paymentInfo.sum }}">Pay</button>
                </div>
            </div>

            <hr />

        </div>
    </div>

    <div class="row text-center">
        <div class="col-12">
            <p>Pay + Tips</p>
        </div>
        <div class="col-4">
            <button class="btn btn-lg btn-success pay-button" data-sum="{{ paymentInfo.sum*1.1 }}">{{ paymentInfo.sum*1.1 }} {{ paymentInfo.currency }}</button><br />
            <small>10%</small>
        </div>
        <div class="col-4">
            <button class="btn btn-lg btn-success pay-button" data-sum="{{ paymentInfo.sum*1.15 }}">{{ paymentInfo.sum*1.15 }} {{ paymentInfo.currency }}</button><br />
            <small>15%</small>
        </div>
        <div class="col-4">
            <button class="btn btn-lg btn-success pay-button" data-sum="{{ paymentInfo.sum*1.2 }}">{{ paymentInfo.sum*1.2 }} {{ paymentInfo.currency }}</button><br />
            <small>20%</small>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
